* {
  box-sizing: border-box;
  margin: 0;
  list-style-type: none;
}

ul {
  padding: 10px;
}

ul:hover {
  background-color: grey;
}

.App {
  text-align: center;
}

.header-img {
  height: 30vh;
  width: 100vw;
}
